$primary-color500: #151515;
$primary-color050: #1515157b;
$primary-color400: #1f1f1f;
$primary-color300: #50514f;
$primary-color030: #50514f87;
$secondary-color500: #e6e8e6;
$secondary-color050: #e6e8e687;
$accent-color500: #0b6e4f;
$accent-color400: #0b6c38;
$accent-color050: #0b6c3872;
$error-color500: #ba1b1d;
